span {

    font-weight: bold;
    background: lightcoral;
    padding: .3em 8em;
    cursor: pointer;
    user-select: none;
}

.play-container {

    padding: 3em;
    border: 1px solid lightcoral;
    margin-bottom: 1em;

    input {

        padding: 1em;
        margin-bottom: 2em;
    }

}

// ADD CLASSES
.active {

    background: chocolate;
    border: 5px solid black;
}
.notActive {

    background: lightcyan;
}
